{% extends "base.html" %}

{% block title %}Task Manager - Home{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title text-center">Event management</h1>
                        <div class="text-center mt-4">
                                {% if user.is_authenticated %}
                                <a href="{% url 'event-list' %}" class="btn btn-primary me-2">Available events</a>
                                <a href="{% url 'my-event-organized' %}" class="btn btn-danger me-2">My Event</a>
                                <a href="{% url "my-event-subscribe" %}" class="btn btn-success me-2">Subscribed events</a>
                            {% else %}
                                <a href="{% url 'login' %}" class="btn btn-primary me-2">Log In</a>
                                <a href="{% url 'signup' %}" class="btn btn-secondary">Sign Up</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
