{% extends "base.html" %}

{% block title %}Task Manager - Home{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title text-center">Event management</h1>
                        <div class="text-center mt-4">
                                <a href="#" class="btn btn-primary me-2">Log In</a>
                                <a href="#" class="btn btn-secondary">Sign Up</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
